/* Header */
html{
    font-family: 'Open Sans', sans-serif;
    color: #373a3c;
}

.logo{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.header{
    position: fixed;
    height: 100%;
    width: 260px;
    background: #006599;
    padding-top: 40px;
}

.header h1{
    color: #fff;
    font-size:  32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header li{
    padding: 20px;
    /* margin-left: 50px; */
    text-align: center;
}
.header a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.4s;
}

.header a:hover{
    color: #f4ef5e;
    font-size: 17px;
}

/* main */

main{
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
}

.bem_vindo_banner{
    height: 500px;
    background: url(../img/banner2.jpg) no-repeat;
    background-size: cover;

}

.bem_vindo_mini_banner{
    width: 50%;
    height: 400px;
    background: url(../img/banner3.jpg);
    background-size: cover;
    float: left;
    margin-right: 20px;
}
h1, h2{
    color: #006599;
    margin-bottom: 30px;
}


h1{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
}


/* .bem_vindo{
    padding-left: 0;
} */

.descricao{
    margin: 0 20px;
}


.descricao p{
    line-height: 1.5em;
    text-align: justify;
}

.bem_vindo_btn{
    clear: both;
    color: #fff;
    display: inline-block;
    background-color: #006599;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.5s;

}

.bem_vindo_btn:hover{
    box-shadow: 10px 10px 5px #ddd;
    color: #f4ef5e;
}

.sobre{
    
}

/* Footer */
footer{
    position: fixed;
    bottom: 0px;
    width: calc(100% - 260px);
    height: 20px;
    line-height: 20px;
    left: 260px;
    text-align: center;
    font-size: 14px;
    background-color: #006599;
    color: #fff;
}
